## editor
.vscode/
.idea/


## macOS
.DS_Store

## reference files
assets/reference/*
!assets/reference/.gitkeep

## rust
target/

## debug output
*.ppm
*.png
output/*
!output/.gitkeep

## DCP profiles
assets/profiles/*
!assets/profiles/.gitkeep
!assets/profiles/*.icc
